<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>头/颈部</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>头痛</string>
				<key>detail</key>
				<string>外感头痛连及项背，常有拘急收紧感，伴有恶风畏寒，遇风加剧，口不渴（风寒头痛）；头痛而胀，发热或恶风，面红目赤，口渴喜饮，大便不畅，或便秘，溲赤，（风热头痛）；头痛如裹，肢体困重，胸闷纳呆，大便或溏（风湿头痛）；头昏胀痛，两侧为重，心烦易怒，夜寐不宁，口苦面红，或兼胁痛（肝阳头痛）。</string>
				<key>pathology</key>
				<string>疏风散寒止痛，化湿通络，平肝潜阳，滋阴补肾，益气养血，健脾涤痰，活血化瘀，行气止痛。</string>
				<key>like</key>
				<array>
					<string>眩晕</string>
					<string>颈椎病</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>眩晕</string>
				<key>detail</key>
				<string>头晕目眩，视物旋转，伴有头痛、项强、恶心呕吐、眼球震颤、耳鸣耳聋、汗出、面色苍白。</string>
				<key>pathology</key>
				<string>气虚血亏，髓海空虚，肝肾不足属虚症；痰浊中阻、瘀血阻络、肝阳上亢属实证。</string>
				<key>like</key>
				<array>
					<string>中风</string>
					<string>厥证</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>颈椎病</string>
				<key>detail</key>
				<string>头枕、颈项、肩背、上肢等部位疼痛以及进行性肢体感觉和运动功能障碍。</string>
				<key>pathology</key>
				<string>遇寒痛增者为外邪内侵；痛如针刺者为气滞血瘀；颈肩部酸痛，兼眩晕乏力者为肝肾不足。治则：通经止痛。</string>
				<key>like</key>
				<array>
					<string>头痛</string>
					<string>眩晕</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>胸部</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>胸痹</string>
				<key>detail</key>
				<string>心前区憋闷疼痛，甚则痛彻左肩背、咽喉、胃脘部、左上臂内侧，呈反复发作性，常伴有心悸、气短、自汗，甚则喘息不得卧。</string>
				<key>pathology</key>
				<string>气滞、血瘀、寒凝、痰浊；治则：疏理气机、活血化瘀、辛温通阳、泻浊豁痰。</string>
				<key>like</key>
				<array>
					<string>悬饮</string>
					<string>胃痛</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>心悸</string>
				<key>detail</key>
				<string>心悸气短，神疲乏力，心悸头晕，面色不华，盗汗，潮热口干，心悸肢冷，畏寒气喘。 自觉心中悸动不安，心搏异常，或快速，或缓慢，呈阵发性或持续不解，精神紧张，心慌不安，不能自主。</string>
				<key>pathology</key>
				<string>分虚症和实证。虚证治以补气、养血、滋阴、温阳；实证应祛痰、化饮、清火、行瘀。</string>
				<key>like</key>
				<array>
					<string>怔仲</string>
					<string>奔豚</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>咳嗽</string>
				<key>detail</key>
				<string>以咳嗽、咳痰为主要表现</string>
				<key>pathology</key>
				<string>肺卫表证；内伤咳嗽。外感咳嗽应祛邪利肺。内伤咳嗽治以祛邪止咳，扶正</string>
				<key>like</key>
				<array>
					<string>喘证</string>
					<string>肺痨</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>哮喘</string>
				<key>detail</key>
				<string>鼻痒、喷嚏、咳嗽、胸闷,喉中有明显哮鸣声，呼吸急促、困难，不能平卧等。</string>
				<key>pathology</key>
				<string>以“发时治标，平时治本”为基本原则，补肺、健脾、益肾。</string>
				<key>like</key>
				<array>
					<string>寒热偏盛证</string>
					<string>脾肾虚损证</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>腹部</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>胃痛</string>
				<key>detail</key>
				<string>胃脘部疼痛，常伴有食欲不振，恶心呕吐，嘈杂泛酸，嗳气吞酸。</string>
				<key>pathology</key>
				<string>理气和胃止痛。</string>
				<key>like</key>
				<array>
					<string>真心痛</string>
					<string>胁痛</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>胁痛</string>
				<key>detail</key>
				<string>一侧或两侧胁肋部疼痛，伴胸闷、腹胀、嗳气呃逆、急躁易怒、口苦纳呆、厌食恶心。</string>
				<key>pathology</key>
				<string>一侧或两侧胁肋部疼痛，伴胸闷、腹胀、嗳气呃逆、急躁易怒、口苦纳呆、厌食恶心。</string>
				<key>like</key>
				<array>
					<string>胃脘痛</string>
					<string>胸痛</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>腹痛</string>
				<key>detail</key>
				<string>胃脘部以下、耻骨毛际以上整个位置疼痛为主症。有形之痛，痛有定处，胀痛无休；无形之痛，痛无定处，走窜聚散不定。</string>
				<key>pathology</key>
				<string>温经散寒、清热导滞、行气止痛、温运脾阳、行气导滞。</string>
				<key>like</key>
				<array>
					<string>胃痛</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>上肢</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>网球肘</string>
				<key>detail</key>
				<string>肘关节外上方（肱骨外上髁周围）明显压痛</string>
				<key>pathology</key>
				<string>舒筋通络</string>
				<key>like</key>
				<array>
					<string>肘劳</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>漏肩风(肩痹症)</string>
				<key>detail</key>
				<string>有明显感受风寒史、遇风痛增；肩部有外伤或劳作过度史、疼痛拒按；肩部酸痛，劳累加重，或伴眩晕乏力。</string>
				<key>pathology</key>
				<string>通经活络，舒经止痛。</string>
				<key>like</key>
				<array>
					<string>痹症</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>下肢</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>膝痹症</string>
				<key>detail</key>
				<string>膝部酸痛、麻木、重着、屈伸不利，甚或关节肿大灼热。</string>
				<key>pathology</key>
				<string>温经散寒，祛风通络，除湿止痛。</string>
				<key>like</key>
				<array>
					<string>风湿热</string>
					<string>类风湿性关节炎</string>
					<string>神经痛</string>
					<string>骨关节炎</string>
					<string>纤维织炎</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>流注</string>
				<key>detail</key>
				<string>漫肿疼痛，皮色正常，好发于四肢、躯干肌肉丰厚之深处，并有此处未愈他处又起。</string>
				<key>pathology</key>
				<string>清热解毒、和营通络</string>
				<key>like</key>
				<array>
					<string>血栓性浅静脉</string>
					<string>炎、股肿</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>腰背部</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>腰肌劳损</string>
				<key>detail</key>
				<string>腰痛触之僵硬有牵制感，痛有定出，轻则仰卧不变，重则转侧困难。</string>
				<key>pathology</key>
				<string>湿散寒，补益肾气，通经止痛。</string>
				<key>like</key>
				<array>
					<string>肾脏疾患</string>
					<string>盆腔疾患</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>腰椎盘突出</string>
				<key>detail</key>
				<string>腰部疼痛，一侧下肢或双下肢麻木、疼痛等。</string>
				<key>pathology</key>
				<string>通经止痛，舒经活络，补益肾气。</string>
				<key>like</key>
				<array>
					<string>风湿病</string>
					<string>腰椎增生</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>肾积</string>
				<key>detail</key>
				<string>腰脊引痛，少腹里急，口干咽肿，健忘</string>
				<key>pathology</key>
				<string>补气健脾，辛温散结。</string>
				<key>like</key>
				<array>
					<string>急慢性肾炎</string>
					<string>肾囊肿</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>骨盆</string>
		<key>sub</key>
		<array>
			<dict>
				<key>name</key>
				<string>盆腔炎</string>
				<key>detail</key>
				<string>小腹部疼痛，痛连腰骶，急性盆腔炎呈急性面容，面部潮红，高热不退，伴有腹胀、腹泻、尿频、尿急等；慢性盆腔炎伴有低热起伏，易疲劳，劳则复发，带下增多，月经不调，甚至不孕。</string>
				<key>pathology</key>
				<string>清热解毒，利湿排脓，化瘀止痛，驱寒除湿，益气健脾。</string>
				<key>like</key>
				<array>
					<string>异位妊娠</string>
					<string>急性阑尾炎</string>
					<string>卵巢囊肿</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
